$color1: #F48E8E;
$color2: #BAF4CA;
$color3: #C3B8F1;
/*COLOR WHIT VAR*/
.navbar-brand b {
  color: $color3;
}

.btn-close {
  background-color: $color1;
}

.navbar-toggler {
  background-color: $color2;
}

#footer {
  background-color: $color3;
}

.offcanvas-title {
  color: $color1;
}