* {
  padding: 0;
  margin: 0;
  font-family: 'Jura', sans-serif;
}

/*TEXT MUTED 'Web Developer'*/
.text-muted {
  padding-left: 30px;
}

/*MENU*/
.offcanvas-header {
  padding-top: 40px;
}

/*COVER*/
.cover {
  display: flex;
  justify-content: center;
}

/*IMG E FIGCAPTION 'ABOUT'*/
.about img {
  width: 200px;
  height: auto;
  border-radius: 200px;
  margin-left: 150px;
  margin-right: 40px;
}

/*IMG E FIGCAPTION 'SKILLS'*/
.skills img {
  width: 300px;
  height: auto;
  border-radius: 200px;
  margin-left: 100px;
  margin-right: 36px;
  margin-bottom: 16px;
}

/*IMG SKILLS PAGE HTML CSS BOTSTRAP*/
.skills-logs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.col-lg-4 {
  width: 130px;
  height: auto;
}

/*SOCIAL BAR*/
.social-bar {
  position: fixed;
  top: 150px;
}

.social-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-bar ul li a {
  display: inline-block;
  color: #FFF;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.social-bar ul li a:hover {
  padding: 10px 30px;
}

.fb {
  background-color: #3b5998;
}

.ig {
  background: #e95950;
}

.gh {
  background: #000000;
}

.ln {
  background: #007bb5;
}

.ml {
  background: #00bf8f;
}

/*CONTACTS*/
.contact {
  margin-left: 250px;
  margin-right: 250px;
}

/*FOOTER*/
.footer {
  color: white;
  text-align: center;
  /*NEWS LETTER E-MAIL ADDRESS*/
}

.footer .newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
}

.form-outline {
  padding-left: 8px;
  padding-right: 8px;
}

.form-label {
  display: flex;
  justify-content: flex-start;
}

.send-button {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

/*COPYRIGHT*/
.copyright {
  color: white;
  text-align: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}

/*ID*/
#git {
  width: 300px;
  height: auto;
}

#s2i {
  width: 300px;
  height: auto;
}

#emily {
  width: 120px;
  height: auto;
}

#logo {
  justify-content: center;
  padding: 80px;
}

/*RESPONSIVE*/
@media screen and (max-width: 600px) {
  .navbar div a h1 {
    display: flex;
    flex-wrap: wrap;
  }
  .text-muted {
    padding: 0;
  }
  .cover {
    padding-top: 150px;
  }
  .about img {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .skills img {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .skills-logs {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .contact {
    margin-left: 56px;
    margin-right: 56px;
  }
  #logo {
    padding: 30px;
  }
}

/*PARTIALS*/
/*COLOR WHIT VAR*/
.navbar div a h1 {
  color: #C3B8F1;
  font-size: 30px;
}

.btn-close {
  background-color: #F48E8E;
}

.navbar-toggler {
  background-color: #BAF4CA;
}

.footer {
  background-color: #C3B8F1;
}

.offcanvas-title {
  color: #F48E8E;
}
