* {
  padding: 0;
  margin: 0;
  font-family: 'Jura', sans-serif;
}
/*LOGS HTML CSS BOTSTRAP*/

.col-lg-4 {
  width: 130px;
  height: auto;
}
/*SOCIAL BAR*/

.social-bar {
  position: fixed;
  top: 90px;
}

.social-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-bar ul li a {
  display: inline-block;
  color: #FFF;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.social-bar ul li a:hover {
  padding: 10px 30px;
}

.fb {
  background-color: #3b5998;
}

.ig {
  background: #e95950;
}

.gh {
  background: #000000;
}

.ln {
  background: #007bb5;
}

.ml {
  background: #00bf8f;
}

.form-label {
  display: flex;
  justify-content: flex-start;
}
/*SEND BUTTON*/
.btn-danger {
  opacity: 70%;
}

#s2i {
  width: 300px;
  height: auto;
}

#emily {
  width: 120px;
  height: auto;
}
@media screen and (max-width: 500px) {
  .cover {
    padding-top: 80px;
  }
}