* {
  padding: 0;
  margin: 0;
  font-family: 'Jura', sans-serif;
}
/*COLOR WHIT VAR*/
.navbar-brand b {
  color: $color3;
}

.btn-close {
  background-color: $color1;
}

.navbar-toggler {
  background-color: $color2;
}

#footer {
  background-color: $color3;
}

.offcanvas-title {
  color: $color1;
}
/*IMG HTML CSS BOTSTRAP*/
.col-lg-4 {
  width: 130px;
  height: auto;
}
/*SOCIAL BAR*/
.social-bar {
  position: fixed;
  top: 90px;
}

.social-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-bar ul li a {
  display: inline-block;
  color: #FFF;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.social-bar ul li a:hover {
  padding: 10px 30px;
}

.fb {
  background-color: #3b5998;
}

.ig {
  background: #e95950;
}

.gh {
  background: #000000;
}

.ln {
  background: #007bb5;
}

.ml {
  background: #00bf8f;
}
/*NEWS LETTER E-MAIL ADDRESS*/

.form-label {
  display: flex;
  justify-content: flex-start;
}
/*ID*/

#git {
  width: 300px;
  height: auto;
}

#s2i {
  width: 300px;
  height: auto;
}

#emily {
  width: 120px;
  height: auto;
}
/*RESPONSIVE*/
@media screen and (max-width: 500px) {
  .cover {
    padding-top: 80px;
  }
}
/*VARIABLES*/
@import "asset/_colors.scss"