* {
  padding: 0;
  margin: 0;
  font-family: 'Jura', sans-serif;
}

.col-lg-4 {
  width: 130px;
  height: auto;
}

.social-bar {
  position: fixed;
  top: 90px;
}

.social-bar ul {
  list-style: none;
}

.social-bar ul li a {
  display: inline-block;
  color: #FFF;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.social-bar ul li a:hover {
  padding: 10px 30px;
}

.fb {
  background-color: #3b5998;
}

.ig {
  background: #e95950;
}

.gh {
  background: #000000;
}

.ln {
  background: #007bb5;
}

.ml {
  background: #00bf8f;
}

@media screen and (max-width: 500px) {
  .cover {
    margin-top: 80px;
  }
}
